main {
	margin: 0 auto;
	width: 600px;
	display: block;
}

main h1 {
	text-align: center;
	font-size: 2em;
	padding: 10px 0;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.modal-body form {
	margin: 0 !important;
	padding: 0 !important;
}

.modal-body {
	margin-bottom: 0 !important;
}

.form-zero {
	margin: 0 !important;
	padding: 0 !important;
}

.float-left {
	float: left;
}

.float-right{
	float: right;
}

.inline {
	display: inline-block;
}
